*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 600;
    font-family: 'Roboto Condensed', sans-serif;
}
.featureText{
    background-color: #5ce1e6;
}

.topBanner{
    background-color: cadetblue;
}
.carousel-caption{
    color: #fff;
}